* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}



.page_two_about {
    width: 100%;
    height: 105vh;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

.page_two_background_about {
    background-color: #fcf7de;
    width: 850px;
    height: 500px;
    border-radius: 250px;
    transform: rotate(20deg);
    position: absolute;
    top: 130px;
    left: -100px;
    z-index: -1;
    margin-left: 785px;
}


.page_two_images_about {
    /* background-color: aquamarine; */
    height: 850px;
    width: 475px;
    transform: rotate(-20deg);
    margin-left: 45px;
    margin-top: -150px;
    display: flex;

}

.page_two_image_one_about {
    /* background-color: #161511; */
    width: 200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;

}

#radius {
    border-radius: 100px 100px 0px 100px;
}


.page_two_image_one_about h1 {
    width: 45px;
    height: 150px;
    background-color: #f9c935;
    border-radius: 20px 0px 20px 20px;
    margin-top: 40px;
    margin-bottom: -40px;

}


.page_two_img_two_about img {
    width: 270px;
    border-radius: 0px 200px 200px 200px;

}

.page_two_img_two_about {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.page_two_img_two_about h1 {
    width: 120px;
    height: 50px;
    background-color: white;
    border-radius: 25px 25px 25px 0px;
    margin-bottom: 50px;
}



.page_two_text_about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    margin-left: 75px;
    margin-top: 30px;
    justify-content: center;


}

.page_two_text_about p {
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #525250;
    line-height: 31px;
    margin-top: 50px;

}

.page_two_text_about h1 {
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.pag2 {
    position: relative;
}

.page2_circle {
    width: 600px;
    height: 400px;
    background-color: #fcf7de;
    border-radius: 40%;
    transform: rotate(35deg);
    margin-left: -250px;
    margin-top: -70px;
    position: relative;


}

.page2_text {
    width: 800px;
    height: 100px;
    transform: rotate(-35deg);
    margin-left: 250px;
    position: absolute;
    font-size: 20px;
}

.page2_circle h1 {
    margin-top: -120px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.page2_circle p {
    margin-left: 30px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #525250;
    line-height: 31px;
}


/* Page 3 csss start */

.page3{ margin-top: 200px;}


.page3_background {
    background: #f9c935 url(Photos/WhatsApp\ Image\ 2022-12-15\ at\ 5.13.52\ AM.jpeg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

.page3_text_aboutUs {
    color: white;
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 153px;

}

.page3_text_aboutUs span {
    font-size: 45px;
}

.page3_text_aboutUs p {
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 100px;
    line-height: 28px;
    margin-top: 15px;
}

.page3_text_aboutUs button {
    padding: 16px 40px;
    font-size: 14px;
    border-radius: 25px 25px 25px 0px;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 25px;

}